# Ignore auxiliary LaTeX files
*.aux
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.log
*.run.xml
*.synctex.gz
*.toc
*.out

# Ignore hidden system files (optional)
.DS_Store
Thumbs.db

# Ignore output directory (if used)
output/
